:root {
    --color-main: hsl(203 81 25%);
    --color-main-alt: hsl(197 80 35%);
    --color-accent-45: hsl(186 75 45%);
    --color-accent-55: hsl(180 69 55%);
    --color-link-main: hsl(225 98% 35%);
    --color-bg: hsl(204 80 14%);
    --color-text: hsl(180 69 89%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vb;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-bg);
    font-family: Helvetica, Arial, system-ui, sans-serif;
    color: var(--color-text);
    line-height: 1.275;
}

h1, h2, h3 {
    text-wrap: balance;
    line-height: 1.075;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
    margin-inline: auto;
    inline-size: 90vi;
    align-items: center;
    justify-content: space-between;
    font-size: 1.115rem;

    @media (width > 1200px) {
        flex-direction: row;
        inline-size: 70vi;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;

        @media (width > 430px) {
            flex-direction: row;
            gap: 1rem;
        }
    }

    h1 {
        color: var(--color-text);
        font-size: 2.1rem;
        font-weight: 600;
        text-shadow:
            0 0 5px #fff,
            0 0 8px #fff,
            0 0 12px var(--color-main),
            0 0 20px var(--color-main);

        @media (width > 800px) {
            font-weight: 800;
            font-size: 3.1rem;
        }
    }

    a {
        color: hsl(from var(--color-accent-55) h s 85%);
        font-weight: 600;
        text-decoration: none;
    }
    a:hover, a:focus-visible {
        text-shadow: 0 2px 5px hsl(from var(--color-text) h s l / 0.5);
    }
}

section {
    font-size: 1.095rem;
    background-color: hsl(from var(--color-main-alt) h s l / 0.4);
    padding-block: 1rem;
    padding-inline: 1rem;
    margin-block-end: 2rem;

    h2 {
        text-align: center;
        margin-block-end: 2rem;
        margin-inline: auto;
        max-inline-size: 20rem;
        text-shadow:
            0 0 3px #fff,
            0 0 5px #fff,
            0 0 9px var(--color-main),
            0 0 15px var(--color-main);
    }
    p {
        text-wrap: pretty;
        max-inline-size: 80ch;
        margin-block-end: 1rem;
        margin-inline: auto;
    }
    a {
        color: hsl(from var(--color-link-main) h s 55%);
        text-decoration: none;
    }
}

footer {
    background: linear-gradient(110deg in oklch, var(--color-main-alt), var(--color-main));
    padding-block: 1rem;

    p {
        text-align: center;
    }
}

.hero {
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    background: url(../images/Scorp_Muff.png) no-repeat center/cover;
    min-block-size: 170px;
    margin-block-end: 2rem;

    @media (width > 450px) {
        min-block-size: 230px;
    }

    @media (width > 1200px) {
        min-block-size: 40vb;
    }

    .attrib {
        margin-block-end: auto;
    }
    p {
        font-size: 0.775rem;
        background-color: oklch(0 0 0 / 0.8);
        text-align: center;
        padding-block: 0.5rem;
    }
    a {
        color: var(--color-accent-55);
    }
}